body{
	margin: 0;
}

header {
	background: #03a9f4;
	text-align: center;
}

.logo {
	color: white;
	font-family: sans-serif;
}

header input {
	font-size: 20px;
	margin: 20px 0;
}

.news-list-item {
	padding: 20px;
	border: solid 1px #eee;
	margin: 5px;
}